span {

  /* 1 valor top/right/bottom/left 
     2 valores  top/bottom and left/right
     3 valores top , left/right and bottom
     4 valores top, right, bottom, left
  */
  display: inline-block;
  background: darkblue;
  padding: 30px;
}